@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

nav{
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #21222a;
  color: #fff;
}


#main-content{
  padding: 1rem;
  background-color: #282d35;
  position: relative;
  color: #ffffff;
}

#main-content h1{
  margin-left: 20px;
}

#main-content ul {
  width: 500px;
}


#main-content ul li {
  padding: 10px 5px;
  
  /* margin-left: 1rem; */
}

#main-content ul li::marker{
  color: #61dafb;
  font-size: 1.4rem;
}

#footer{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #777;
  color: #000;
}

#footer >*{
  opacity: 0.3;
}

.image{
  width: 40px;
  
}

.nav--left{
  display: flex;
  align-items: center;
  margin: 20px;
}

.nav--left h1{
  margin: 10px;
  color: #00d8ff;
}

.nav--right{
  margin-right: 20px;
}

.main--image{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 130px;
}