@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #c5c5c4;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    justify-content: center;
    height: 100vh;
}

.bold{
    font-weight: 600;;
}

.gray{
    color: #918E9B;
}

.container {
    position: relative;
    width: 550px;
    min-height: 704px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.header{
    height: 64px;
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.header--img{
    height: 24px;
    width: 24px;
}

.header--text{
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-shadow: 1px 1px 1px #fff;
    margin-left: 7px;
}

.card{
    margin: 36px 18px 36px 40px;
    display: flex;
}

.card--img{
    width: 125px;
    height: 168px;
}

.card--main{
    margin: 0 19px;
}

.card--head{
    margin: 0;
}

.card--map{
    height: 9.55px;
    width: 7px;
    margin: 0;
}

.card--location{
    margin:0 0 7px 4px;
    line-height: 150%;
    font-size: 10px;
    line-height: 13px;
}

.card--dates{
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
}

.card--info{
    font-size: 10.24px;
}